language: node_js
node_js: node
addons:
  chrome: stable
script:
- npm run lint
- |
  if [ $TRAVIS_PULL_REQUEST != false ] && [ $TRAVIS_SECURE_ENV_VARS == true ]; then
    echo "Pull request with secure environment variables, running Sauce tests...";
    npm run test:sauce || travis_terminate 1;
  else
    echo "Not a pull request and/or no secure environment variables, running headless tests...";
    npm run test:travis || travis_terminate 1;
  fi
after_success:
- frauci-update-version -d=skip && export TRAVIS_TAG=$(frauci-get-version)
env:
  global:
  - SAUCE_USERNAME: Gaudi1
  - REPO_NAME=edit-in-place
  - OWNER_NAME=BrightspaceUILabs
  # SAUCE_ACCESS_KEY
  - secure: Efkb8PYies7sKDTcrkzigZeWejKeO9pC1/rmDrQ9BdIzgI365hAkfx14PEmEekKWd9KF8xR+DVIz45LgVeUn3DxsXhk7clBH324ng9gjs6bHNYRvU3wOzoIuBsEOmKp7MVVwxWS2AMAhINiIz4jEUa6RIZJQyVO0zyFW+Ly+emxzYmYuvgra+qYt50qvPcrwH6nm0kWecDhDmlr2zK0awqqlWz7EDxnxMOFnepeFaFPBHfm8WB1rZYQp+SCfUR04YmK3gY2pjGbU+1TnBDHT8AKBpDPzD2j4gmORiQvG5ztpk58qY+QBcZMgzq4W9TYjZlBBIUE+gP2fgXd9+TXbHcFlWI7klQOEq7ctw/BKfJvjAEiWUJ/eq+6NSBK2cSBDN7kzsn5w67P4W35mwQhSVY2mFCs1Xt3zEDaiu1XPK8KRThFOEWoaBTY3XPkXA9eLAvW99Sd1qhbwS42xWy/dIwG5ahpkHABX+OyR7GqyuoB5SS+RWlj/dvaZ1H0ilkwVW343Fm57KvHGU/0JOu5BSTRXB3a3qb+q4wvZOX6NUm0O6gerNPmH8vaI5BX+Q8OdkbHGnhOcTY4oY879rDYxesCDlIwdfYij4UFOpUPU1w3DHjyUz9P6FzHS9zQe6InNCu1f5RBpvHfbf31ICLsR4cJWwj9dy51tysquZkroKhk=
  # GITHUB_RELEASE_TOKEN (8112......8fcc)
  - secure: Qruz2GfYYQn99/gkyMVm8EqmNHcx7Ij8N7MLTyvmcuuhgM9oL2eEkjA+RkvDOUKluoH/4c7cGEll+HpP8gQvRuUSIvEweVaQnBqJ+EMqshGtqTHcZGjAB27fv8rxAbNmZpHnPJRqJtfjAopMEKewcacdRfjGN7kZokVG9TWJJVDIreFhurbhquQgEiL+IT1RLrFRr0EJqWgU82j1Rqcm2Tq7YVArgVCTHC82Hrmo4+MSblo3mAIU3VqS8iPC1kKeVm+zRXZBtJdsxO1c/SNWWHk2Zpp6oPjDgG7oZ1eQUFDi+1XaJ0JLTc9zbqvFIVozeMb1dhagX++KZVK0jVQngWZOo9FDq4vITwHN3du6REo4KjOOUFj0dUqsPBOWh+0gxUVFCtO1UKfzgQHjBJJl0G2rfleySGZ2Zaa5M4ui/+wGmoqsOGD8yyYLEDK0qN3066D7R5GAFIw9tXdle9+66eQDzZ7liiE8Oj9PRlEq8n0CaPjCtqoIsTBriYGHChR7O5TCk+jadBe6RRDY5CcdJFQ6JLz+ri0m0CoUjipt1V2lgvDrqUu1B1p2HLzIcIa7nixnxvgq9wZF8o4mqYpohm5Is20zbNWABYEkAtowarN+7OLOPz+XT5QwhSeSyXNlFGdqhAsyl7OGFEseao1roWCWY/cf00A1IAH2RJntCCI=
deploy:
  provider: npm
  email: d2ltravisdeploy@d2l.com
  api_key:
    # 033e......63e7
    secure: Ln3vbxVwzIAazresAULgiu3rsIHLwsE8sdQbZzsvdu40i6Lrs0QgZQKtck8xSbwsJ41Es3Mh5v3nf0C+ElyatSgWN5g+hQBW9QJnno/Q61rEPkHZ07Vw+UrBqt/rhXElH0gv/bGnYyCMzrq0LYe6zCGKdLrSE64kq/aXtgGgbyGG1s07inoHwwemQNCLP0cQe0NbcnRQYRSP/QbU5E3FokZWGKmpZmeFNBc9lJR57pdsej7YKESWOe7BSQVs0B46drys4z/4pDQT6fjR9qoJf0q0jx7WSae+IEjpbrh806J5gOH7CyWdB+ag2qfFLCZMM0xwMiWb9F35m8OB3NVO/+ICFGA8uxF43VjeTJ80GIwpEAKOg3RcKuY6KPkViwJO2/5T4gokHByDsFhNd15dzP0s/k5qFHO/iqCPI2lqmD6KqKPcjy26MGmfdkjIffiSJIc00Q7k00nXOD/Rvsk+ir2N5Q8g6Jh5IMwWbTxB7GHQJ4x4mVjCEGfXRWOBwAsaTdyFozZOFtSzcUOQF2VomiOYH7PWSxTL9nVN1PCcKrBmwoCTc0Ol+j6WHdWuzEiwRv2aZ1DD/VBDTNttr3UTSiuwAbtQQJGo0KS9ZILfGHsBwwP3ERoqz92tbUwWHhVqhLA+vfhljY5zclIVeiNGh+pjhWBaRoRbj6T0t9oFzp8=
  on:
    tags: true
    repo: BrightspaceUILabs/edit-in-place
